section
  h1 Title
  h2 Subtitle

section
  h2 Syntax Highlighting
  pre
    code.language-ruby.
      class Foo
        def hello(name)
          puts "Hello \#{name}!"
        end
      end

section
  h2 Questions?
